CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.csr
*.db
/venv/
/uploads/
/logs/
/certs/
/docker-compose/ucentral-data/logs
/docker-compose/ucentral-data/uploads
/docker-compose/ucentral-data/certs
/docker-compose/.env
/cmake-build/
/uploads/
test_scripts/curl/token.json
.vscode/c_cpp_properties.json
